*.csproj.user
*.suo
*.cache
Thumbs.db
*.DS_Store

*.bak
*.cache
*.log
*.swp
*.user

*.git
*.settings
.scripts/

.classpath
.project

.gitignore
.npmrc

bin
build
node_modules

build.gradle
version.info
package.json.org
package-lock.json

CHANGELOG.md
ISSUE_TEMPLATE.md
